.card_order {
  width: 584px;
  padding: 24px;
  border-radius: 40px;
  border: 2px;
  gap: 24px;
  background: #1c1c21;
  margin-top: 16px;
}
.title {
  display: flex;
  justify-content: space-between;
}
.ingredients {
  display: flex;
}
.ingredient_preview {
  position: relative;
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(#000000, #000000) padding-box,
    linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%) border-box;
  border-radius: 50%;
  border: 2px solid transparent;
  overflow: hidden;
  margin-right: -15px;
}

.ingredient_preview img {
  height: 56px;
  width: 112px;
  object-fit: cover;
}

.moreIngredients {
  position: absolute;
  color: white;

}
