.app {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1900px;
  max-height: calc(100vh - 250px);
  margin: 0 auto;
  padding: 20px;
}

