.ingredientDetails {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}
.ingredientDetails_nutr {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   gap: 10px;
}
.ingredientDetails_nutr li {
   display: flex;
   flex-direction: column;
   justify-content: center;
}