.board {
  display: flex;
  justify-content: space-between;
  height: 50%;
}
.done {
  width: 50%;
  overflow-y: scroll;
  scrollbar-color: #8585ad #2f2f37;
}
.inWork {
  width: 50%;
  overflow-y: scroll;
  scrollbar-color: #8585ad #2f2f37;
}
.order_done {
  color: #00cccc;
}
.order_numbers {
  display: flex;
  flex-direction: column;
  height: 500px;
  flex-wrap: wrap;
  scrollbar-color: #8585ad #2f2f37;
}
.total {
  height: 40%;
}
.container {
  width: 50%;
}
.done::-webkit-scrollbar-thumb {
  width: 30px;
  background-color: #8585ad;
  border: 3px;
}
.done::-webkit-scrollbar {
  display: block;
  width: 5px;
}
.done::-webkit-scrollbar-track {
  background: #2f2f37;
}
.inWork::-webkit-scrollbar-thumb {
  width: 30px;
  background-color: #8585ad;
  border: 3px;
}
.inWork::-webkit-scrollbar {
  display: block;
  width: 5px;
}
.inWork::-webkit-scrollbar-track {
  background: #2f2f37;
}
.title {
  color: var(--text-primary-light-standart-text, #f2f2f3);
  /* desktop/display small */
  font-family: JetBrains Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
}
