.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}



.appHeader_profile a {
  margin-right: 0;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1900px;
  max-height: calc(100vh - 250px);
  margin: 0 auto;
  padding: 20px;
}


.burgerIngredients {
  max-width: 750px;
}
.burgerItems {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: scroll;
  max-height: 500px;
}
.burgerItems_category {
  width: 100%;
}
.burgerItems_category h3 {
  float: left;

}
.burgerIngredients_tab {
  display: flex;
  justify-content: space-around;
}
.burgerItem {
  list-style: none;
  position: relative;
  max-width: 300px;
}
.burgerItem img {
  max-inline-size: 100%;
  block-size: auto;
}




.burgerConsructor {
  min-width: 400px;

}
.burgerConsructor_group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: calc(100vh - 250px);
  
  overflow-y: auto;
  scrollbar-gutter: stable;
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
}
.burgerConstructor_item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 32px;
}
.burgerConstructor_item_move {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.burgerConstructor_item_move i{
  width: 24px;
}



@media screen {
  
}

@media (width < 768) {
  .container {
    flex-direction: column;
  }
  .burgerIngredients {
    width: 100%;
    
  }
  .burgerWrapper {
    width: 100%;
  }
 
}


@media (width > 768px) {
.burgerIngredients {
  
  
}
.burgerWrapper {
  width: 50%;
}
}
.burgerConstructor_checkout {
  display: flex;
  justify-content: end;
  align-items: center;
}

