.appHeader_nav ul {
  background-color: #1c1c21;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  width: 33%;
}
.appHeader_nav li {
  padding: 10px;
}
.appHeader_nav a {
  text-decoration: none;
  display: flex;
}
.appHeader_nav span {
  display: flex;
  align-items: center;
  text-align: center;
}
.appHeader_nav div {
  display: flex;
}
.secondaryColor {
  color: #8585ad;
}
.primaryColor {
  color: white;
}
